@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  background-color: #f6f6f6;
  font-size: 14px;
  background-size: 2000vw 300vh;
  background: -o-linear-gradient(45deg, #ff6a00, #ff9100, #ffdd00) fixed;
  background: linear-gradient(45deg, #ff6a00, #ff9100, #ffdd00) fixed;
  background-size: cover;
  -webkit-animation: animate-bg-size 15s ease infinite;
          animation: animate-bg-size 15s ease infinite;
}

body._lock {
  overflow: hidden;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.icon-menu {
  display: none;
}

.header {
  position: relative;
  background-color: #fff;
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.295);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.295);
}

.header__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  left: 300px;
}

.header__logo img {
  height: 50px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  margin-right: 28px;
}

.menu__item {
  color: black;
  font-family: Lato;
  font-size: 18px;
  position: relative;
}

.menu__item:before {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0px;
  height: 0px;
  background-color: #000;
}

.menu__item:hover:before {
  height: 1px;
  width: 100%;
  background-color: #000;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  padding-top: 70px;
  margin-bottom: 70px;
  width: 100%;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sextion-left {
  padding-right: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.images {
  position: relative;
  margin-bottom: 35px;
}

.images__big-img {
  position: relative;
  padding: 0 0 100% 0;
}

.images__big-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.images__big-plus {
  width: 60px;
  height: 60px;
  font-size: 60px;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#ff5d16), to(#ffc516));
  background: -o-linear-gradient(left, #ff5d16 0%, #ffc516 100%);
  background: linear-gradient(to right, #ff5d16 0%, #ffc516 100%);
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  left: 5%;
  top: 5%;
}

.images__big-plus a {
  color: black;
}

.small {
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.small div {
  width: 90px;
  height: 90px;
  background: -webkit-gradient(linear, left top, right top, from(#ff5d16), to(#ffc516));
  background: -o-linear-gradient(left, #ff5d16 0%, #ffc516 100%);
  background: linear-gradient(to right, #ff5d16 0%, #ffc516 100%);
  margin-right: 5px;
  cursor: pointer;
}

.small div:last-child {
  margin-right: 0px;
}

.small__plus {
  font-size: 80px;
  text-align: center;
  line-height: 90px;
}

.profiledata__title {
  font-size: 22px;
  padding: 0px 30px 0px 30px;
  line-height: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  font-family: Lato;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.477);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.477);
}

.profiledata__text {
  position: relative;
  display: inline;
}

.profiledata__text.active:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ff5d16), to(#ffc516));
  background: -o-linear-gradient(left, #ff5d16 0%, #ffc516 100%);
  background: linear-gradient(to right, #ff5d16 0%, #ffc516 100%);
}

.profiledata__body {
  background-color: white;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.477);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.477);
  height: 800px;
  border-radius: 10px;
}

.sextion-right {
  padding-left: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666%;
          flex: 0 0 66.666%;
}

.sextion-right > div {
  margin-bottom: 35px;
}

.sextion-right > div:last-child {
  margin-bottom: 0px;
}

.profiledata__content {
  padding: 20px;
  font-family: Lato;
  text-align: center;
}

.profiledata__body-t {
  height: 300px;
}

.profiledata__title-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profiledata__text {
  color: black;
}

.profiledata__title-f .profiledata__text {
  cursor: pointer;
}

.profiledata__title-f .profiledata__text:before {
  bottom: 12px;
}

@-webkit-keyframes animate-bg-size {
  0% {
    background-size: 100vw 200vh;
  }

  50% {
    background-size: 100vw 2000vh;
  }

  100% {
    background-size: 100vw 200vh;
  }
}

@keyframes animate-bg-size {
  0% {
    background-size: 100vw 200vh;
  }

  50% {
    background-size: 100vw 2000vh;
  }

  100% {
    background-size: 100vw 200vh;
  }
}

@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 1100px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 18px;
    right: 20px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .header__logo {
    left: 50px;
  }

  .menu {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    width: 250px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    text-align: center;
    top: -2000px;
  }

  .menu._active {
    top: 0;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.25);
  }

  .menu li a {
    color: white;
    font-size: 22px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }

  .main__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10px 0 10px;
  }

  .sextion-left {
    padding-right: 0px;
  }

  .sextion-left .sextion-left__profiledata {
    padding-bottom: 30px;
  }

  .profiledata__title {
    font-size: 16px;
  }

  .profiledata__body {
    height: 300px;
  }

  .sextion-right {
    padding-left: 0px;
  }

  .profiledata__title-f .profiledata__text:before {
    bottom: 16px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}